<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>testSite</name>
    <description>
        Example of an Apache Cordova application that opens another site.
    </description>
    <author email="r.diana74@gmail.com" href="http://cordova.io">
        Diana
    </author>

    <splash src="src/screenSaver.jpg" />

    <content src="https://www.salesforce.com/products/platform/overview/" />
    <access origin="https://www.salesforce.com/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="SplashScreenDelay" value="5000" />
</widget>
